.images-list {list-style: none; padding: 0; margin: 0; text-align: center;
    li {display: inline-block; margin: 10px; cursor: pointer; border: 1px solid #dddddd;
        img {display: block; max-width: 100px;}
    }
}