<h3>Mapa</h3>

<div id="map" style="height: 600px;"></div>

<h3>Origem</h3>

<div>
  <label><input type="radio" value="planet" [(ngModel)]="imageSource"> Planet</label> &nbsp;
  <label><input type="radio" value="eosLandsat8" [(ngModel)]="imageSource"> EOS (Landsat 8)</label> &nbsp;
  <label><input type="radio" value="eosSentinel2" [(ngModel)]="imageSource"> EOS (Sentinel 2)</label>
</div>

<h3>Composição</h3>
<select (change)="changeComposition($event)">
  <option [value]="0">RGB</option>
  <option [value]="1">Landwater</option>
  <option [value]="2">Falso Infravermelho</option>
</select>


<h3>Imagens</h3>

<ul class="images-list">
  <li *ngFor="let image of getselectedImagesSet()" (click)="setMapImage(image)">
    {{image.date | date: 'dd/MM/yyyy'}}
  </li>
</ul>